@media (max-width: 768px) {
  .header {
    &-right {
      & .right-container {
        & .pattern.top-pattern {
          width: 900px;
          top: -1300%;
          right: -20%;
        }
      }
    }
  }

  .about-speech {
    width: 90%;

    & .heading {
      text-align: center;
      font-size: map-get(c.$font-sizes, H2);
      width: 100%;
    }
  }

  #about-img-container {
    width: 100%;
    height: 267px;
    margin-top: 70px;

    & .about-img {
      background: url('../../assets/about/tablet/image-team-members.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H2);
      margin-bottom: 30px;
    }

    &-form {
      position: relative;
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .header {
    @include c.flex(space-between, center, row);
    overflow-x: hidden;

    &-left {
      &.open {
        z-index: 5;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      @include c.flex(flex-start, center, column);
      width: 80%;
      height: 100vh;
      padding-top: 150px;
      background: c.$sec-mirage-blue;
      transform: translateX(100%);
      @include c.transition;
      z-index: 7;

      &.open {
        transform: translateX(0);
      }

      &:after {
        position: absolute;
        content: '';
        top: 80px;
        width: 80%;
        height: 1px;
        background: c.$sec-light-san-juan-blue;
        z-index: 10;
      }

      & .pattern.top-pattern {
        width: 680px;
        top: -20%;
        right: 90%;

        &.open {
          transform: translateX(70%);
        }
      }

      & .links {
        position: relative;
        @include c.flex(space-between, center, column);
        margin-left: 0px;
        margin-bottom: 40px;
        z-index: 10;

        & .link {
          position: relative;
          opacity: 0;
          @include c.transition;
          z-index: 10;

          &.open {
            opacity: 1;
          }
          &:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 40px;
          }
          & a {
            color: c.$pri-link-water-white;
            font-size: 20px;

            &:hover {
              color: c.$pri-link-water-white;
            }
          }
        }
      }

      & .header-right-btn {
        width: 80%;
        margin-inline: auto;
        opacity: 0;

        @include c.transition;

        &.open {
          opacity: 1;
        }

        & a {
          position: relative;
          display: inline-block;
          text-align: center;
          width: 100%;
          @include c.pink-btn-on-light;

          &:hover {
            background: c.$pri-dark-pink;
          }
        }
      }
    }

    .menu-icon {
      display: block;

      & #menu-close {
        display: none;
        @include c.transition;
      }

      &.open {
        & #menu-open {
          display: none;
        }

        & #menu-close {
          display: block;
        }
      }
    }
  }

  #about-speech-container {
    &.open {
      z-index: 5;
    }
  }

  .about-speech {
    width: 90%;

    & .heading {
      text-align: center;
      font-size: map-get(c.$font-sizes, H3-big);
      width: 100%;
    }
  }

  .about-speech-copies {
    width: 100%;

    & .copy {
      @include c.flex(center, center, column);
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      &-heading {
        font-size: map-get(c.$font-sizes, H4);
        margin-right: 0px;
        margin-bottom: 10px;
        width: 100%;
      }

      &-details {
        width: 100%;
      }
    }
  }

  .about-numbers {
    @include c.flex(center, center, column);
    border-top: 1px solid c.$sec-light-san-juan-blue;
    border-bottom: 1px solid c.$sec-light-san-juan-blue;
    text-align: center;

    & .about-number {
      border-top: 0;
      border-bottom: 0;
      flex: 1;
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 0px;
      }

      & .number-type {
        font-size: 16px;
        color: c.$sec-light-san-juan-blue;
        margin-bottom: 0px;
      }

      & .number {
        font-size: map-get(c.$font-sizes, H1-small);
        color: c.$pri-dark-pink;
      }
    }
  }

  .footer {
    @include c.flex(center, center, column);
  }

  .footer-left {
    @include c.flex(center, center, column);

    & .footer-logo {
      width: 130px;

      & img {
        width: 100%;
      }
    }

    & .footer-links {
      margin-left: 0px;
      margin: 30px 0;
      text-align: center;

      & span {
        display: block;

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    &-right {
      & .right-container {
        & .pattern.top-pattern {
          width: 500px;
          top: -15%;
          right: 80%;

          &.open {
            transform: translateX(60%);
          }
        }
      }
    }
  }

  #about-img-container {
    width: 100%;
    height: 300px;
    margin-top: 70px;

    & .about-img {
      background: url('../../assets/about/mobile/image-team-members.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H3-big);
    }

    &-form {
      width: 100%;
      margin-inline: auto;

      & input {
        width: 100%;
        margin-bottom: 20px;
      }

      & button {
        position: relative;
        display: block;
        width: 100%;
        padding: 20px 30px;
      }
    }
  }
}

@media (max-width: 360px) {
}
