@media (max-width: 850px) {
  .contact {
    position: relative;
    width: 70%;
    max-width: 1400px;
    margin-inline: auto;
    z-index: 5;

    & .heading {
      position: relative;
      font-size: map-get(c.$font-sizes, H1-small);
      color: c.$sec-san-juan-blue;
      font-weight: 600;
      width: 100%;
      margin-bottom: 50px;
      z-index: 5;
      text-align: center;
    }
  }

  .contact-main {
    @include c.flex(center, center, column);
    width: 100%;
    margin-inline: auto;
  }

  .contact-form-container {
    position: relative;
    width: 100%;
    z-index: 3;
    margin-right: 0px;
    margin-bottom: 70px;

    & form {
      & .form-sent-message {
        //   color: c.$pri_white;
        //   font-weight: c.$font-weight_bold;
        font-size: 30px;
        align-self: center;
        margin-top: 30px;
        display: none;

        &.show {
          display: block;
        }
      }
    }
  }

  .contact-patners-container {
    & h1 {
      color: c.$sec-light-san-juan-blue;
      font-size: map-get(c.$font-sizes, H4);
      margin-bottom: 50px;
      text-align: center;
    }

    & .contact-patners {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      margin-left: 20px;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &-right {
      & .right-container {
        & .pattern.top-pattern {
          width: 900px;
          top: -1300%;
          right: -20%;
        }
      }
    }
  }

  .contact {
    position: relative;
    width: 75%;
    max-width: 1400px;
    margin-inline: auto;
    z-index: 5;

    & .heading {
      font-size: map-get(c.$font-sizes, H2);
      text-align: center;
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H2);
      margin-bottom: 30px;
    }

    &-form {
      position: relative;
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .header {
    @include c.flex(space-between, center, row);
    overflow-x: hidden;

    &-left {
      &.open {
        z-index: 5;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      @include c.flex(flex-start, center, column);
      width: 80%;
      height: 100vh;
      padding-top: 150px;
      background: c.$sec-mirage-blue;
      transform: translateX(100%);
      @include c.transition;
      z-index: 7;

      &.open {
        transform: translateX(0);
      }

      &:after {
        position: absolute;
        content: '';
        top: 80px;
        width: 80%;
        height: 1px;
        background: c.$sec-light-san-juan-blue;
        z-index: 10;
      }

      & .pattern.top-pattern {
        width: 680px;
        top: -30%;
        right: 0%;
        transition: all -200ms ease-out;

        &.open {
          transform: translateX(68%);
        }
      }

      & .links {
        position: relative;
        @include c.flex(space-between, center, column);
        margin-left: 0px;
        margin-bottom: 40px;
        z-index: 10;

        & .link {
          position: relative;
          opacity: 0;
          @include c.transition;
          z-index: 10;

          &.open {
            opacity: 1;
          }
          &:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 40px;
          }
          & a {
            color: c.$pri-link-water-white;
            font-size: 20px;

            &:hover {
              color: c.$pri-link-water-white;
            }
          }
        }
      }

      & .header-right-btn {
        width: 80%;
        margin-inline: auto;
        opacity: 0;

        @include c.transition;

        &.open {
          opacity: 1;
        }

        & a {
          position: relative;
          display: inline-block;
          text-align: center;
          width: 100%;
          @include c.pink-btn-on-light;

          &:hover {
            background: c.$pri-dark-pink;
          }
        }
      }
    }

    .menu-icon {
      display: block;

      & #menu-close {
        display: none;
        @include c.transition;
      }

      &.open {
        & #menu-open {
          display: none;
        }

        & #menu-close {
          display: block;
        }
      }
    }
  }

  #contact-container {
    &.open {
      z-index: 5;
    }
  }

  .contact {
    width: 90%;

    & .heading {
      font-size: map-get(c.$font-sizes, H3-big);
    }
  }

  .contact-main {
    @include c.flex(center, center, column);
    width: 100%;
    margin-inline: auto;
  }

  .contact-patners-container {
    & h1 {
      color: c.$sec-light-san-juan-blue;
      font-size: map-get(c.$font-sizes, H4);
      margin-bottom: 30px;
      text-align: center;
    }

    & .contact-patners {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      margin-left: 0px;
      margin-bottom: 30px;
    }
  }

  .footer {
    @include c.flex(center, center, column);
  }

  .footer-left {
    @include c.flex(center, center, column);

    & .footer-logo {
      width: 130px;

      & img {
        width: 100%;
      }
    }

    & .footer-links {
      margin-left: 0px;
      margin: 30px 0;
      text-align: center;

      & span {
        display: block;

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 680px;
        top: -62%;
        right: 0%;

        &.open {
          transform: translateX(48%);
        }
      }
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H3-big);
    }

    &-form {
      width: 100%;
      margin-inline: auto;

      & input {
        width: 100%;
        margin-bottom: 20px;
      }

      & button {
        position: relative;
        display: block;
        width: 100%;
        padding: 20px 30px;
      }
    }
  }
}

@media (max-width: 394px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 680px;
        top: -68%;
        right: -10%;

        &.open {
          transform: translateX(45%);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 680px;
        top: -73%;
        right: -10%;

        &.open {
          transform: translateX(45%);
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 680px;
        top: -80%;
        right: -15%;

        &.open {
          transform: translateX(45%);
        }
      }
    }
  }

  .contact-patners-container {
    & .contact-patners {
      @include c.flex(center, center, column);
    }
  }
}
