@media (max-width: 768px) {
  .header {
    &-right {
      & .right-container {
        & .pattern.top-pattern {
          width: 900px;
          top: -1300%;
          right: -20%;
        }
      }
    }
  }

  .main-hero {
    @include c.flex(space-between, center, column-reverse);

    &-left {
      width: 100%;
      text-align: center;
      & .heading {
        font-size: map-get(c.$font-sizes, H2);
        margin-bottom: 50px;
      }

      & .hero-form {
        width: 80%;
        margin-inline: auto;
      }

      & .questions {
        padding-left: 0px;
      }
    }

    &-right {
      width: 380px;
      margin-right: -50px;
      & img {
        width: 100%;
      }
    }
  }

  #patners-container {
    & .patners-pattern {
      position: absolute;
      left: -2%;
      top: -110%;
    }
  }

  .patners {
    padding: 80px 0;
    @include c.flex(space-between, center, column-reverse);

    &-left {
      width: 100%;
      text-align: center;

      & .heading {
        font-size: map-get(c.$font-sizes, H2);
      }

      & .copy {
        font-size: map-get(c.$font-sizes, body);
        width: 80%;
        margin-inline: auto;
      }

      & a {
        display: inline-block;
        @include c.btn-on-dark;
      }
    }

    &-right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      margin-left: 0px;
      margin-bottom: 30px;

      & img {
        fill: white;
      }
    }
  }

  #cores-container {
    & .core-pattern {
      display: none;
    }
  }

  .cores {
    & .core {
      @include c.flex(space-between, center, column);
      width: 100%;

      &2 {
        @include c.flex(space-between, center, column);
        margin-top: 50px;
      }

      &-img {
        width: 100%;
        margin-right: -50px;
      }

      &-content {
        width: 100%;
        text-align: center;
        margin-inline: auto;
        margin-top: -60px;
        & .heading {
          font-size: map-get(c.$font-sizes, H2);
          color: c.$sec-san-juan-blue;
          margin-bottom: 10px;
        }

        & .copy {
          color: c.$sec-light-san-juan-blue;
          width: 80%;
          margin-inline: auto;
        }
      }
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H2);
      margin-bottom: 30px;
    }

    &-form {
      position: relative;
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .header {
    @include c.flex(space-between, center, row);
    overflow-x: hidden;

    &-left {
      &.open {
        z-index: 5;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      @include c.flex(flex-start, center, column);
      width: 80%;
      height: 100vh;
      padding-top: 150px;
      background: c.$sec-mirage-blue;
      transform: translateX(100%);
      @include c.transition;
      z-index: 7;

      &.open {
        transform: translateX(0);
      }

      &:after {
        position: absolute;
        content: '';
        top: 80px;
        width: 80%;
        height: 1px;
        background: c.$sec-light-san-juan-blue;
        z-index: 10;
      }

      & .pattern.top-pattern {
        width: 680px;
        top: -20%;
        right: 90%;

        &.open {
          transform: translateX(68%);
        }
      }

      & .links {
        position: relative;
        @include c.flex(space-between, center, column);
        margin-left: 0px;
        margin-bottom: 40px;
        z-index: 10;

        & .link {
          position: relative;
          opacity: 0;
          @include c.transition;
          z-index: 10;

          &.open {
            opacity: 1;
          }
          &:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 40px;
          }
          & a {
            color: c.$pri-link-water-white;
            font-size: 20px;

            &:hover {
              color: c.$pri-link-water-white;
            }
          }
        }
      }

      & .header-right-btn {
        width: 80%;
        margin-inline: auto;
        opacity: 0;

        @include c.transition;

        &.open {
          opacity: 1;
        }

        & a {
          position: relative;
          display: inline-block;
          text-align: center;
          width: 100%;
          @include c.pink-btn-on-light;

          &:hover {
            background: c.$pri-dark-pink;
          }
        }
      }
    }

    .menu-icon {
      display: block;

      & #menu-close {
        display: none;
        @include c.transition;
      }

      &.open {
        & #menu-open {
          display: none;
        }

        & #menu-close {
          display: block;
        }
      }
    }
  }

  #main-hero-container {
    &.open {
      z-index: 2;
    }
  }

  .main-hero {
    @include c.flex(space-between, center, column-reverse);

    &-left {
      width: 100%;
      text-align: center;
      & .heading {
        font-size: map-get(c.$font-sizes, H3-big);
        margin-bottom: 50px;
      }

      & .hero-form {
        width: 100%;
        margin-inline: auto;

        & input {
          width: 100%;
          margin-bottom: 20px;
        }

        & button {
          position: relative;
          display: block;
          width: 100%;
          padding: 20px 30px;
        }
      }

      & .questions {
        padding-left: 0px;
      }
    }

    &-right {
      width: 380px;

      &.open {
        z-index: 5;
      }
      & img {
        width: 100%;
      }
    }
  }

  #patners-container {
    & .patners-pattern {
      position: absolute;
      left: -20%;
      top: -90%;
    }
  }

  .patners {
    padding: 80px 0;
    @include c.flex(space-between, center, column-reverse);

    &-left {
      width: 100%;
      text-align: center;

      & .heading {
        font-size: map-get(c.$font-sizes, H3-big);
      }

      & .copy {
        width: 100%;
      }

      & a {
        display: inline-block;
        @include c.btn-on-dark;
      }
    }

    &-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      margin-left: 0px;
      margin-bottom: 30px;

      & img {
        fill: white;
      }
    }
  }

  .values {
    @include c.flex(center, center, column);
  }

  .value {
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 50px;
    }

    &-img {
      width: 100px;
    }

    & .heading {
      margin: 20px 0 10px;
    }

    & .copy {
      color: c.$sec-light-san-juan-blue;
    }
  }

  .footer {
    @include c.flex(center, center, column);
  }

  .footer-left {
    @include c.flex(center, center, column);

    & .footer-logo {
      width: 130px;

      & img {
        width: 100%;
      }
    }

    & .footer-links {
      margin-left: 0px;
      margin: 30px 0;
      text-align: center;

      & span {
        display: block;

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 500px;
        top: -20%;
        right: 87%;

        &.open {
          transform: translateX(65%);
        }
      }
    }
  }

  #patners-container {
    & .patners-pattern {
      position: absolute;
      left: -200px;
      top: -580px;
    }
  }

  .cores {
    & .core {
      @include c.flex(space-between, center, column);
      width: 100%;

      &2 {
        @include c.flex(space-between, center, column);
        margin-top: 50px;
      }

      &-img {
        width: 100%;
        margin-right: -35px;
      }

      &-content {
        width: 100%;
        text-align: center;
        margin-inline: auto;
        margin-top: -30px;
        & .heading {
          font-size: 36px;
        }

        & .copy {
          width: 100%;
        }
      }
    }
  }

  .cta {
    @include c.flex(center, center, column);

    & .heading {
      font-size: map-get(c.$font-sizes, H3-big);
    }

    &-form {
      width: 100%;
      margin-inline: auto;

      & input {
        width: 100%;
        margin-bottom: 20px;
      }

      & button {
        position: relative;
        display: block;
        width: 100%;
        padding: 20px 30px;
      }
    }
  }
}

@media (max-width: 394px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 500px;
        top: -26%;
        right: 84%;

        &.open {
          transform: translateX(63%);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &-right {
      & .pattern.top-pattern {
        width: 500px;
        top: -26%;
        right: 80%;

        &.open {
          transform: translateX(53%);
        }
      }
    }
  }

  #patners-container {
    & .patners-pattern {
      position: absolute;
      left: -250px;
      top: -580px;
    }
  }

  .patners {
    &-right {
      @include c.flex(center, center, column);
    }
  }

  .value {
    &-img {
      width: 90px;
    }
  }
}
