@use 'config' as c;

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  @include c.flex(flex-start, center, column);
}

#header-container {
  position: relative;
  width: 100vw;
  background: transparent;
}

.header {
  @include c.flex(space-between, center, row);
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  padding: 30px 0;

  &-left {
    position: relative;
    width: 130px;
    z-index: 4;

    & a {
      position: relative;
      z-index: 4;
    }

    & img {
      position: relative;
      width: 100%;
      z-index: 4;
    }
  }

  &-right {
    position: relative;
    margin-left: 30px;
    width: 80%;
    @include c.flex(space-between, center, row);

    & .pattern.top-pattern {
      position: absolute;
      width: 680px;
      top: -600%;
      right: -20%;
      z-index: 3;
    }

    & .links {
      @include c.flex(space-between, center, row);

      & .link {
        position: relative;
        z-index: 10;
        &:not(:last-child) {
          margin-right: 30px;
        }
        & a {
          color: c.$sec-light-san-juan-blue;
          font-size: 15px;
          font-weight: c.$sec-font-bold;

          &:hover {
            color: c.$sec-mirage-blue;
          }
        }
      }
    }

    & .header-right-btn {
      position: relative;
      width: auto;
      z-index: 10;
      & a {
        display: inline-block;
        @include c.pink-btn-on-light;
      }
    }
  }

  .menu-icon {
    display: none;

    & img {
      position: relative;
      cursor: pointer;
      z-index: 10;
    }
  }
}

#cta-container {
  margin-top: 70px;
  width: 100%;
  flex-grow: 1;
}

.cta {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex(space-between, center, row);

  & .heading {
    font-size: map-get(c.$font-sizes, H2);
    color: c.$sec-san-juan-blue;
  }

  &-form {
    position: relative;
    width: 445px;

    & input {
      border: none;
      background: c.$pri-link-water-white;
      border-radius: 50px;
      box-shadow: 1px 1px 6px c.$sec-light-san-juan-blue;
      padding: 20px 25px;
      width: 80%;
      font-family: c.$sec-font-family;
      font-size: 15px;
      font-weight: c.$sec-font-bold;
      color: c.$sec-san-juan-blue;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: c.$sec-font-family;
        font-size: 15px;
        font-weight: c.$sec-font-bold;
      }
    }

    & button {
      position: absolute;
      top: 0;
      right: 0;
      @include c.pink-btn-on-light;
      border: none;
      height: 100%;
      padding: 15px 30px;
    }
  }
}

footer {
  margin-top: 70px;
  background: rgb(0, 62, 0);
  padding: 20px 0;
  width: 100%;
}

.footer {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex(space-between, center, row);
}

.footer-left {
  @include c.flex(space-between, center, row);

  & .footer-logo {
    width: 130px;

    & img {
      width: 100%;
    }
  }

  & .footer-links {
    margin-left: 40px;
    & span {
      &:not(:last-child) {
        margin-right: 25px;
      }

      & a {
        color: c.$sec-light-san-juan-blue;
        font-size: 15px;
        font-weight: c.$sec-font-bold;

        &:hover {
          color: c.$sec-mirage-blue;
        }
      }
    }
  }
}

.footer-right {
  & img {
    width: 24px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// @import 'shared-responsive';
