@use 'config' as c;
@import 'reset';
@import 'shared';

.header {
  &-right {
    & .pattern.top-pattern {
      position: absolute;
      width: 680px;
      top: -1100%;
      right: -30%;
      z-index: 3;
    }
  }
}

#about-speech-container {
  position: relative;
  width: 100%;
  z-index: 7;
}

.about-speech {
  position: relative;
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  z-index: 5;

  & .heading {
    position: relative;
    font-size: map-get(c.$font-sizes, H1-small);
    color: c.$sec-san-juan-blue;
    font-weight: 600;
    width: 70%;
    margin-bottom: 50px;
    z-index: 5;
  }
}

.about-speech-copies {
  width: 100%;

  & .copy {
    @include c.flex(space-between, flex-start, row);
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &-heading {
      font-size: map-get(c.$font-sizes, H3-big);
      color: c.$sec-san-juan-blue;
      font-weight: bolder;
      margin-right: 30px;
      //   white-space: nowrap;
      width: 30%;
    }

    &-details {
      width: 70%;
      color: c.$sec-light-san-juan-blue;
    }
  }
}

#about-img-container {
  width: 100%;
  height: 500px;
  margin-top: 70px;

  & .about-img {
    background: url('../../assets/about/desktop/image-team-members.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

#about-numbers-container {
  margin-top: 70px;
}

.about-numbers {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex(space-between, center, row);

  & .about-number {
    border-top: 1px solid c.$sec-light-san-juan-blue;
    border-bottom: 1px solid c.$sec-light-san-juan-blue;
    flex: 1;
    padding: 20px 0;

    &:not(:last-child) {
      margin-right: 20px;
    }

    & .number-type {
      font-size: 16px;
      color: c.$sec-light-san-juan-blue;
      margin-bottom: 10px;
    }

    & .number {
      font-size: map-get(c.$font-sizes, H1-small);
      color: c.$pri-dark-pink;
    }
  }
}

#about-speech-copies-second {
  margin-top: 70px;

  & .about-speech-copies {
    width: 80%;
    margin-inline: auto;
  }
}

@import 'about-responsive';
