@use 'config' as c;
@import 'reset';
@import 'shared';

.header {
  &-right {
    & .pattern.top-pattern {
      position: absolute;
      width: 680px;
      top: -1100%;
      right: -30%;
      z-index: 3;
    }
  }
}

#contact-container {
  position: relative;
  width: 100%;
  z-index: 7;
}

.contact {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  z-index: 5;

  & .heading {
    position: relative;
    font-size: map-get(c.$font-sizes, H1-small);
    color: c.$sec-san-juan-blue;
    font-weight: 600;
    width: 70%;
    margin-bottom: 50px;
    z-index: 5;
  }
}

.contact-main {
  @include c.flex(space-between, center, row);
  width: 100%;
}

.contact-form-container {
  position: relative;
  width: 50%;
  z-index: 3;
  margin-right: 40px;

  & form {
    width: 100%;
    @include c.flex(flex-start, flex-start, column);

    & .form-group {
      position: relative;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &.checkbox-container {
        display: flex;
        align-items: center;

        & .checkbox-main {
          position: relative;
          margin-right: 20px;
          margin-top: -20px;
          width: 24px;
          height: 24px;
          cursor: pointer;

          & input {
            position: absolute;
            padding-bottom: 0;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .check-marker {
              background: c.$pri-dark-pink;

              &:after {
                display: block;
              }
            }

            &.remove {
              &:checked ~ .check-marker {
                background: #979797;

                &:after {
                  display: none;
                }
              }
            }
          }

          & .check-marker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #979797;

            &:after {
              content: '';
              position: absolute;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              display: none;
            }
          }
        }

        & p {
          color: c.$sec-light-san-juan-blue;
        }
      }

      & label {
        display: block;
        color: c.$sec-light-san-juan-blue;
        font-family: c.$sec-font-family;
        font-size: 15px;
        padding-left: 20px;
        transform: translateY(30%);
        opacity: 0.8;

        &.hide {
          display: none;
        }
      }

      & input,
      & textarea {
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: 1px solid c.$sec-light-san-juan-blue;
        color: c.$sec-san-juan-blue;
        font-weight: c.$sec-font-medium;
        letter-spacing: 1.1px;
        font-size: 17px;
        padding-bottom: 15px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      & .error {
        font-size: 12px;
        color: c.$error-color;
        display: none;

        &.showError {
          display: block;
        }
      }
    }

    & button {
      @include c.btn-on-light;
      padding: 15px 50px;
    }

    & .form-sent-message {
      //   color: c.$pri_white;
      //   font-weight: c.$font-weight_bold;
      font-size: 30px;
      align-self: center;
      margin-top: 30px;
      display: none;

      &.show {
        display: block;
      }
    }
  }
}

.contact-patners-container {
  & h1 {
    color: c.$sec-light-san-juan-blue;
    font-size: map-get(c.$font-sizes, H4);
    margin-bottom: 50px;
  }

  & .contact-patners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin-left: 20px;
    align-items: center;
  }
}

@import 'contact-responsive';
