@use 'config' as c;
@import 'reset';
@import 'shared';

#main-hero-container {
  position: relative;
  z-index: 6;
}

.main-hero {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex(space-between, center, row);

  &-left {
    width: 50%;
    & .heading {
      color: c.$sec-san-juan-blue;
      font-size: map-get(c.$font-sizes, H1-large);
      margin-bottom: 50px;
      line-height: 1.1;
    }

    & .hero-form {
      position: relative;
      width: 100%;

      & input {
        border: none;
        background: c.$pri-link-water-white;
        border-radius: 50px;
        box-shadow: 1px 1px 6px c.$sec-light-san-juan-blue;
        padding: 20px 25px;
        width: 80%;
        font-family: c.$sec-font-family;
        font-size: 15px;
        font-weight: c.$sec-font-bold;
        color: c.$sec-san-juan-blue;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: c.$sec-font-family;
          font-size: 15px;
          font-weight: c.$sec-font-bold;
        }
      }

      & button {
        position: absolute;
        top: 0;
        right: 0;
        @include c.pink-btn-on-light;
        border: none;
        height: 100%;
        padding: 15px 30px;
      }
    }

    & .questions {
      margin-top: 20px;
      padding-left: 30px;
      & a {
        color: c.$sec-san-juan-blue;

        & span {
          font-weight: c.$sec-font-bold;
        }
      }
    }
  }

  &-right {
    width: 380px;
    & img {
      width: 100%;
    }
  }
}

#patners-container {
  position: relative;
  width: 100%;
  background: c.$sec-mirage-blue;
  margin-top: 70px;
  overflow: hidden;

  & .patners-pattern {
    position: absolute;
    left: -20%;
    top: -90%;
    z-index: 3;
  }
}

.patners {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  padding: 100px 0;
  @include c.flex(space-between, center, row);
  z-index: 4;

  &-left {
    width: 40%;
    color: c.$pri-link-water-white;

    & .heading {
      font-size: map-get(c.$font-sizes, H2);
    }

    & .copy {
      font-size: map-get(c.$font-sizes, body);
      margin: 30px 0;
      margin-top: 20px;
    }

    & a {
      display: inline-block;
      @include c.btn-on-dark;
    }
  }

  &-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-left: 20px;
    align-items: center;

    & img {
      fill: white;
    }
  }
}

@import 'main-responsive';
